<ion-view view-title="{{item.binomial_name}}">
  <ion-content class="padding">
    <ion-list class="card">
      <ion-item class="item-avatar">
        <img src="http://placehold.it/50x50">
        <h2>{{item.binomial_name}}</h2>
        <p>{{item.common_name}}</p>
      </ion-item>
      <ion-item class="item item-body">
        <img class="full-image" src="http://placehold.it/300x150">
      </ion-item>
      <ion-item class="item">
        <p>{{item.description}}</p>
      </ion-item>
      <ion-item class="item item-text-wrap">
        <p>Atribut 1 Atribut 1 Atribut 1 Atribut 1 Atribut 1 Atribut 1
        AAtribut 1 Atribut 1 Atribut 1tribut 1 Atribut 1 Atribut 1
        </p> 
      </ion-item>
      <ion-item class="item item-text-wrap">
        <p>Atribut 1 Atribut 1 Atribut 1 Atribut 1 Atribut 1 Atribut 1
        AAtribut 1 Atribut 1 Atribut 1tribut 1 Atribut 1 Atribut 1
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
