<ion-view view-title="Specii">
  <ion-content>
    <!-- <button class="button" ng-click="check_filters()"></button> -->
    <div class="padding" ng-repeat="item in species | orderObjectBy: 'relevance' : true">
      <ion-list>
        <ion-item class="item-avatar item-icon-right">
          <img src="http://placehold.it/100x100">
          <h2>{{item.binomial_name}}</h2>
          <p>{{item.common_name}}</p>
          <a ui-sref="tab.item-details({itemId: item.id})">
            <i class="icon ion-android-more-vertical item-details-button"></i>
          </a>
        </ion-item>
        <ion-item class="item-text-wrap item-description">
          <p>{{item.description}}</p>
        </ion-item>
        <ion-item class="item-divider">
          <p>Tag, tag2, tag3, tag 4,</p>
          <span class="badge badge-dark">{{item.relevance}}</span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
