<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Filter Tab -->
  <ion-tab title="Filtre" icon-off="ion-android-create" icon-on="ion-android-create" href="#/tab/filters">
    <ion-nav-view name="tab-filters"></ion-nav-view>
  </ion-tab>

  <!-- Items Tab -->
  <ion-tab title="Specii" icon-off="ion-leaf" icon-on="ion-leaf" href="#/tab/items">
    <ion-nav-view name="tab-items"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Setări" icon-off="ion-android-settings" icon-on="ion-android-settings" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
